{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
<h2>Login Page</h2>
<form action="" method="post">
    {% csrf_token%}
    {{form|crispy}}
    <button type="submit" class ='btn btn-success' value="">Log In </button> 
    <a href="{% url 'password_reset' %}">Reset</a>
</form>
{%endblock content%}