{%extends 'base.html'%}

{%block content%}
<h1>Password change</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class='btn btn-success'> Submit </button>
</form>

{%endblock content%}
