{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span> &middot; <span class="text-muted">by {{ article.author}} |
            {{ article.date }}</span>
    </div>
    <div class="card-body">
        {{ article.body }} </div>
    <div class="card-footer text-center text-muted"> <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a>
    </div>
    <div class="card-footer">
        {% for comment in article.comments.all %} <p>
        <span class="font-weight-bold">{{ comment.author }} &middot;</span>
        {{ comment }} </p>
    {% endfor %} </div>
</div>
<br />

{% endblock content %}