{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
<h2>Edit Article</h2>
<form action="" method="post">
    {% csrf_token%}
    {{form|crispy}}
    <button type="submit" class ='btn btn-success' value="">Update</button> 
</form>
{%endblock content%}