{% extends 'base.html' %}

{% block content %}
{% for article in object_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></span> &middot; <span class="text-muted">by {{ article.author}}</span>
    </div>
    <div class="card-body">
        {{ article.body }} </div>
    <div class="card-footer text-center text-muted">{{ article.date }}</div>
</div>
<br />
{% endfor %}
{% endblock content %}