{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
<h2>Sign Up Page</h2>
<form action="" method="post">
    {% csrf_token%}
    {{ form|crispy }}
    <button type="submit" class ='btn btn-success' value="">Sign Up</button> 
</form>
{%endblock content%}